

body {
    background-image: url('img1.png');
    margin-top: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: rgb(10, 10, 84);
    background-position: -150px 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 120px;
}


button {
    /* padding: 3vw 2vh; */
    margin-top: 1vh;
    padding-top: 2vh;
    width: 40vw;
    height: 10vh;
    /* font-size: 50px;  */
    font-size: 3vw;
    background-color: #007bff;
    opacity: 92%;
    color: #fff;
    border: none;
    border-radius: 10px;
    border-style:solid;
    border-color: #0056b3;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden; 
    display: flex;
    justify-content:center;

}




button:hover {
    background-color: #0056b3;
}
