

body {
    background-image: url('img1.png');
    text-align: center; 
    margin: 0; 
    background-color: rgb(10, 10, 84);
    background-position: -150px 0; 
}

#headings {
    background-color: navy;
    color:beige;
    margin-top: 3vh; 
    margin-left: auto;
    margin-right: auto;
    font-size: 5vh;
    opacity: 90%;
    border-radius: 12px;
    padding: 2vh;
    width: fit-content;
}


#buttons-container {

    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
}

#members {
    background-color: rgba(255, 0, 0, 0.892);
    color: aqua;
    font-size: 2vh ;
    border-style:ridge;
    border-color: #032448c7;
    border-radius: 15px;
    padding: 2vh;
    opacity: 85%;
    margin-left: 65vw;
    margin-top: 12vh;
    width: fit-content; 
}

button {
    margin-top: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 40vw;
    font-size: 4vh;
    background-color: #007bff;
    opacity: 92%;
    color:mistyrose;
    border-radius: 10px;
    border-style: solid;
    border-color: #0056b3;
    cursor: pointer;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}

